<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/png"  href="/landing_page/rupee.png">
  <title>PennyWise-Insights</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Smart_Insights/main.css">
  <link rel="stylesheet" href="/Smart_Insights/chart files/charty.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jost&family=Lato&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Nav Bar  -->
  <%- include('partials/nav') %>

  <!-- dashboard heading -->

  <div class="head container">
    <h1>Smart Insights</h1>
  </div>

  <div class="second">
    <!-- Dashboard user input form -->
    <h2 class="cent">Categories Analysis</h2>
    <div>
      <form class="inp-form">
        <label for="item">Month</label>
        <input type="month" id="start" name="month" min="2023-01" value="">
        <button class="inp-but">+</button>
      </form>
    </div>
    <% function formatDate(dateString) {
      const dateParts = dateString.split('-');
      const year = dateParts[0];
      const month = parseInt(dateParts[1]);
      const monthNames = [
        'January', 'February', 'March', 'April',
        'May', 'June', 'July', 'August',
        'September', 'October', 'November', 'December'
      ];
      const formattedDate = monthNames[month - 1] + ' ' + year;
      return formattedDate;
    } %>
    <%if(Object.keys(categoryTotals).length) {%>
      
      <h3 class="cat-text">Category wise breakup of <%= formatDate(selectedMonth) %></h3>
    <div class="chart_responsive" id="piechart_3d"></div>
    <% }else{ %>
      <h3 class="cat-text">No data found for <%= formatDate(selectedMonth) %>...<br>Please enter the data in the dashboard page first</h3>
<% } %>
  </div>
  </div>

  <!-- dashboard expense history -->
  <div class="container-fluid third" style="background-color:#401c64;padding-top:50px;padding-bottom: 75px;color:white;">
    <h2 class="cent">Linear Analysis</h2>
    <form class="inp-form" method="post" action="/:user/insights/month">
      <label for="date">Year</label>
      <input name="year" type="number" min="1900" max="2099" step="1" placeholder="enter the year" />
      <button onclick="displayGraph()" class="inp-but">+</button>
    </form>

    <div id="monthwise_breakup" class="container">
      <h3 class="cat-text">Month wise breakup <%if(year){ %>of the year <%=year%> <% } %></h3>
      <div class="chart_responsive" id="linear_1"></div>
    </div>

  </div>

  <!-- links to other pages  -->
  <div class="forth">
    <a href="/user123/dashboard"><button type="button" style="margin-bottom:10px;" class="btn  dash-link">Dashboard</button></a> <br>
    <a href="/user123/loans"> <button type="button" style="margin-bottom:10px;" class="btn  dash-link">Track Loans</button></a>

    <script src="/Smart_Insights/insights.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/Smart_Insights/google_charts0.js" charset="utf-8"></script>
    <script src="/Smart_Insights/google_charts1.js" charset="utf-8"></script>
    <script src="/Smart_Insights/google_charts2.js" charset="utf-8"></script>
  </div>

  <div id="hidden" class="hidden" hidden>
    <span id="monthlyExpenses">
      <% if(monthly){ %> [<%= monthly.join(',') %>] <% } %>
    </span>
    <span id="piechart">
      <% if (categoryTotals) { %>
  <% Object.entries(categoryTotals).forEach(([category, total]) => { %>
    <p id="<%= category %>"><%= total %></p>
  <% }); %>
<% } %>

    </span>

  </div>

  <script src="https://kit.fontawesome.com/1465e7da9e.js" crossorigin="anonymous"></script>
</body>

</html>
