<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/png"  href="/landing_page/rupee.png">
    <title>PennyWise-Loans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/loan/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jost&family=Lato&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Jost', sans-serif;">
    <%- include('partials/nav') %>

    <!-- dashboard heading -->


    <div class="loans" style="background:#633491">
        <h1 class="hloan">Loan Management</h1>
        <div class="second">
            <h2 class="cent">Add/Delete Loans </h2>

            <form class="inp-form" method="post" action="/<%= user %>/loans/add">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" value="" required>
                <label for="type">Loan Type</label>
                <select name="loan_type" id="lb" required>
        <option class='opt'value="lent" name="lent">Lent</option>
        <option class='opt'value="borrowed" name="borrowed">Borrowed</option>
    </select>
    <label for="From">From</label>
<select name="person" required>
  <option value="" disabled selected>Select a person</option>
  <%
  friends.forEach(function(friend) {
  %>
      <option value="<%= friend%>"><%= friend%></option>
  <% }); %>
  <option value="new">Add New Friend</option>
</select>
<input type="text" name="newPerson" placeholder="New Friend" style="display: none;">
                <label for="amount">Amount:</label>
                <input type="number" name="amount" placeholder="Amount in Rs" rows="1" required>
                <label for="reason">Reason</label>
                <input type="text" name="reason" placeholder="Reason" required>
                <button class="inp-but" id="laddbtn" name="loan_button">+</button>
            </form>

            <div class="scrolling-wrapper">
                <!-- <div class="card-space"> -->
                <%if(loans.length!=0){%>
                    <% loans.reverse().forEach(function(LoanItem) { %>
                        <section class="my-5">
                            <form action="/<%=user%>/loans/delete" method="post">
                                <input type="hidden" name="loanid" value="<%= LoanItem._id %>">
                                <div class="card">
                                    <div class="card-body">
                                        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
                                            <div class="blockquote-custom-icon shadow-1-strong">
                                                <%= LoanItem.date.toLocaleDateString("en-GB") %>
                                            </div>
                                            <p class="card_p">
                                                <%if(LoanItem.type=='lent'){%>
                                                    <%= LoanItem.type %> to
                                                        <%= LoanItem.name %>
                                                            <%}else{%>
                                                                <%= LoanItem.type %> from
                                                                    <%= LoanItem.name %>
                                                                        <%}%>
                                            </p>
                                            <div class=" pt-2 mt-2 border-top">
                                                <p class="card_p">
                                                    <%= LoanItem.amount %>
                                                </p>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <button type="submit" class="del-but">-</button>
                                </div>
                            </form>
                        </section>
                        <%   }); }%>

            </div>
            <div class="container">
<% if(totalGiveOrTake.length!=0){ %>
            <div class="summarytable">
              <h2>Summary</h2>
              <table>
                <tbody>

                <!-- <tr>
                <th>Person</th>
                <th>Balance</th>
              </tr> -->
              <% totalGiveOrTake.forEach(function(friend) { %>
              <tr>
                <td> <% if(friend.expense>0){ %> <%=friend.name %> <% }else { %> You <% } %> </td>
                <td> <% if(friend.expense>0){ %> owes <% }else { %> owe <% } %> </td>
                <td> Rs. <%= Math.abs(friend.expense) %> </td>
                <td> to  <% if(friend.expense>0){ %> you <% }else{ %> <%=friend.name%> <% } %>  </td>
              </tr>
              <% }); %>

            </tbody>
              </table>
            </div>
<% } %>
          </div>
        </div>
        <div class="third">
            <h2 class="cent">Track Your loans </h2>
            <div class="container">
              <form class="hist-form">
  <div class="form-group hide_or_not">
      <label for="date-input">Date:</label>
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" onclick="decrementDate()"><i class="fa-solid fa-caret-left" style="color: #424b5c;"></i></span>
          </div>
          <input type="date" class="form-control" id="date-input" name="date_input">
          <div class="input-group-append">
              <span class="input-group-text" onclick="incrementDate()"><i class="fa-solid fa-caret-right" style="color: #424b5c;"></i></span>
          </div>
      </div>
  </div>
  <div class="form-group">
      <label for="sort-select">Sort By:</label>
      <select class="form-control" id="sort-select" name="sort_select">
          <option value="" disabled selected>Select an option</option>
          <option name="any" value="any">Any</option>
          <option name="type" value="type">Type</option>
          <option name="amount_asc" value="amount_asc">Amount Ascending</option>
          <option name="amount_dec" value="amount_dec">Amount Descending</option>
          <option name="date_asc" value="date_asc">Date Ascending</option>
          <option name="date_dec" value="date_dec">Date Descending</option>
      </select>
  </div>
  <div style="text-align:center;" class="form-group">
      <button style="margin-bottom:20px;margin-top:10px;" class="mid_button" type="submit" name="show_all" value="true">Apply filter</button>
  </div>
</form>
<div style="text-align:center;" id="no_element" class="hidden">
<h2 style="text-align:center" id="no-elements-message" ></h2>
  <button  id="show-all-button" class="mid_button" type="submit" >Show all</button>
</div>

            </div>

            <div class="container table-responsive">
                <table class="ltable" id="data-table">



                    <thead>
                        <th>Date</th>
                        <th>Type</th>
                        <th>From</th>
                        <th style="width: 40%">Reason</th>
                        <th>Amount</th>
                        <!-- <th>Amout paid</th>
          <th>Remaining amount</th> -->
        </thead>
                    <tbody id="data-table-body">
                    <% if(loans.length > 0) { %>
                        <% loans.forEach((item) => { %>

                                <tr style="text-align: center;">
                                    <td>
                                        <% if(item.date) { %>
                                            <%= item.date.toLocaleDateString("en-GB") %>
                                                <% } %>
                                    </td>
                                    <td>
                                        <%= item.type %>
                                    </td>
                                    <td>
                                        <%= item.name %>
                                    </td>

                                    <td>
                                        <%= item.reason %>
                                    </td>
                                    <td>
                                        <%= item.amount %>
                                    </td>

                                </tr>

                                    <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="4">No loans found for the selected date</td>
                                            </tr>

                                            <% } %>
                                            </tbody>
                </table>
            </div>



        </div>
    </div>
    <!-- links to other pages  -->
    <div class="forth">

        <a href="/<%= user %>/dashboard"><button style="background:#401c64;color:white;font-size: 1rem;
font-weight: bold;
padding: 0.5rem 1rem;
margin: auto ;
border-radius: 2rem;
background-color: #401c64;
border: none;
text-transform: uppercase;
letter-spacing: 0.1em;
transition: all 0.2s ease-in-out;" type="button" class="btn dash_link">Dashboard</button></a><br><br>
        <a href="/<%= user %>/insights"> <button style="background:#401c64;color:white;font-size: 1rem;
font-weight: bold;
padding: 0.5rem 1rem;
margin: auto ;
border-radius: 2rem;
background-color: #401c64;
border: none;
text-transform: uppercase;
letter-spacing: 0.1em;
transition: all 0.2s ease-in-out;" type="button" class="btn dash_link">Insights</button></a>
    </div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/loan/index.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/1465e7da9e.js" crossorigin="anonymous"></script>
</body>

</html>
